* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root {
  --background-color: black;
  --text-primary-color: white;
  --text-secondary-color: black;
  --correct-color: rgb(255, 210, 0);
  --font-primary: 'Poppins', sans-serif;
  --font-secondary: 'Abril Fatface', serif;
}

html {
  font-size: 62.5%;
  font-family: var(--font-primary);
  color: var(--text-primary-color);
}
